@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.secondaryBtn {
  width: 97px;
  height: 42px;
  background: #ffffff;
  border-radius: 50px;
  outline: none;
  border: none;
  font-family: Mulish;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
