@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Sanchez&display=swap");
.nft_card h3 {
  font-family: "Mulish", sans-serif;
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-size: 18px;
}
.nft_card h4 {
  font-family: "Mulish", sans-serif;
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-size: 12px;
}
.nft_card {
  /* font-family: "Mulish", sans-serif;
  font-family: "Sanchez", serif; */
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 368px;
  height: 532px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 10px 11px 8px 10px;
  margin: 27px 15px;
}
.nft_card_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 349px;
  height: 378px;
  text-align: center;
}
.nft_card_img {
  margin: 0 auto;
}
.nft_card_details_container {
  display: inherit;
  flex-direction: column;
}
.nft_card_details_producer {
  margin-top: 14px;
}
.nft_card_details_creator {
  margin-top: 18px;
}
.nft_card_details_bid {
  margin-top: 10px;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
}
.nft_card_details_end {
  margin-top: 5px;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
}
